RewriteEngine On
php_value session.gc_maxlifetime 4200
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/pa/temp/
RewriteCond %{REQUEST_URI} !^/pa/public/
RewriteCond %{REQUEST_URI} !^/pa/plugin/
RewriteRule ^(.*)$ public/index.php?url=$1 [NC,QSA,L]